PORT=8090
CAISSE_MODE=simulation
CAISSE_DB_HOST=caisse-db
CAISSE_DB_PORT=3306
CAISSE_DB_NAME=glowstock_caisse_pilot
CAISSE_DB_USER=caisse_runtime
CAISSE_DB_PASSWORD=
CAISSE_DB_CA_FILE=
CAISSE_BRIDGE_SECRET=
CAISSE_AUDIT_KEY=
